In [1]:
import pandas as pd

In [2]:
data = {
    "stage": ["AAA", "BBB", "AAA", "BBB"],
    "model": ["A|A|3111555|S","B|B|1222786|A", "A|A|2111997|B", "A|B|1222789|A",],
    "res": ["A", "A","B","C"]
}

df_pred = pd.DataFrame(data)
df_pred

  stage          model res
0   AAA  A|A|3111555|S   A
1   BBB  B|B|1222786|A   A
2   AAA  A|A|2111997|B   B
3   BBB  A|B|1222789|A   C

In [3]:
def foo(df):
    tmp_df = df[["stage", "model"]]
    tmp_df.loc[:,["layer"]] = tmp_df["model"].str.split("|").str[2].str.slice(1,4)
    res_df = tmp_df[["stage", "layer"]].drop_duplicates()
    return res_df["stage"].to_list(), res_df["layer"].to_list()

sl, ll = foo(df_pred)

In [4]:
print(df_pred)
print(sl)
print(ll)

  stage          model res
0   AAA  A|A|3111555|S   A
1   BBB  B|B|1222786|A   A
2   AAA  A|A|2111997|B   B
3   BBB  A|B|1222789|A   C
['AAA', 'BBB']
['111', '222']